@model MyWedding.Models.Guest

<div class="modal-dialog" role="dialog">

    <div class="modal-header">
        <div>
            <h1>Edit Guest</h1>
        </div>
        <button type="button" asp-action="ShowGrid" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    </div>
    <hr />
    <div class="modal-content">
        <h4>Guest details</h4>
        <div class="row">
            <div class="col-md-4">
                <form id="partialform" data-ajax="true" data-ajax-method="post" data-ajax-update="#partialform" data-ajax-mode="replace">
                    <div asp-validation-summary="ModelOnly" id="notifications" class="text-danger"></div>
                    <div class="modal-body">
                        <div class="form-group">
                            <label asp-for="Name" class="control-label"></label>
                            <input id="name" asp-for="Name" class="form-control" />
                            <span asp-validation-for="Name" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Surname" class="control-label"></label>
                            <input id="surname" asp-for="Surname" class="form-control" />
                            <span asp-validation-for="Surname" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Email" class="control-label"></label>
                            <input id="email" asp-for="Email" class="form-control" />
                            <span asp-validation-for="Email" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="mobile" class="control-label"></label>
                            <input id="mobile" asp-for="mobile" class="form-control" />
                            <span asp-validation-for="mobile" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <div>
                                <label asp-for="IsAttending" class="control-label">Is attending?</label>
                                <input id="isattending" asp-for="IsAttending"
                                       data-val="true"
                                       data-val-required="The isattending field is required."
                                       name="isattending"
                                       type="checkbox"
                                       value="true" />

                                <input name="isattending" asp-for="IsAttending" type="hidden" value="false" id="isattending" />

                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <div class="form-group">
                            <input type="button" value="Update" class="btn btn-primary" onclick="Update()" />
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div id="notifications"></div>
        <div>
            <a asp-action="ShowGrid">Back to List</a>
        </div>
    </div>
</div>



<script>
    function Update() {
        var name = document.getElementById('name').value;
        var surname = document.getElementById('surname').value;
        var email = document.getElementById('email').value;
        var mobile = document.getElementById('mobile').value;
        var isattending = document.getElementById('isattending').value;
        var data = new FormData();
        data.append('name', name);
        data.append('surname', surname);
        data.append('email', email);
        data.append('mobile', mobile);
        data.append('isattending', isattending);
        $.ajax(
            {
                url: '/Guest/edit',
                data: data,
                processData: false,
                contentType: false,
                type: "POST",
                success: function (result) {
                    if (result.success) {
                        $('#notifications').show();
                        $('#notifications').html('<div  class="alert alert-success" role="alert"> Guest updated.   <button type="button" class="close" data-dismiss="alert" aria-label="Close">  <span aria-hidden="true">&times;</span></button></div>');
                        $('#partialform').hide('slow');
                    }
                    else {
                        var newBody = $("#partialform", result);
                        $("#partialform").replaceWith(newBody);
                    }
                },
                error: function (result) {
                    $('#notifications').html('<div  class="alert alert-danger" Looks like something went wrong! Please try again later. </div>');
                }
            }
        );
    }
</script>