@model MyWedding.Models.Guest

<!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#GuestAdd">
    Add contact
</button>

<div class="modal fade jobmail-apply" id="GuestAdd" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <div class="job-details">
                    <div><img src="https://www.junkmail.co.za/images/jm-logo-red.png" alt="" class="img-responsive"></div>
                    <div>
                        <p class="modal-title h2">Position Name</p>
                        <p>A self-driven and adaptive individual with good communication skills. Possesses leadership skills along with the ability to deal with problems/issues. Possesses written and verbal skills and able to w</p>
                    </div>
                </div>
            </div>
            <h4>Guest</h4>
            <hr />
            <div class="row">
                <div class="col-md-4">
                    <form id="partialform" data-ajax="true" data-ajax-method="post" data-ajax-update="#partialform" data-ajax-mode="replace">
                        <div asp-validation-summary="ModelOnly" id="notifications" class="text-danger"></div>
                        <div class="modal-body">
                            <div class="form-group">
                                <label asp-for="Name" class="control-label"></label>
                                <input id="name" asp-for="Name" class="form-control" />
                                <span asp-validation-for="Name" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="Surname" class="control-label"></label>
                                <input id="surname" asp-for="Surname" class="form-control" />
                                <span asp-validation-for="Surname" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="Email" class="control-label"></label>
                                <input id="email" asp-for="Email" class="form-control" />
                                <span asp-validation-for="Email" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="mobile" class="control-label"></label>
                                <input id="mobile" asp-for="mobile" class="form-control" />
                                <span asp-validation-for="mobile" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <div class="checkbox">
                                    <label>
                                        <input id="isattending" asp-for="IsAttending" /> @Html.DisplayNameFor(model => model.IsAttending)
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <div class="form-group">
                                <input type="button" value="Create" class="btn btn-outline-primary" onclick="upload()" />
                            </div>
                        </div>
                    </form>
                </div>
            </div>

            <div>
                <a asp-action="ShowGrid">Back to List</a>
            </div>
        </div>
    </div>
</div>


<script>
    function upload() {
        var name = document.getElementById('name').value;
        var surname = document.getElementById('surname').value;
        var email = document.getElementById('email').value;
        var mobile = document.getElementById('mobile').value;
        var isattending = document.getElementById('isattending').value;
        var data = new FormData();
        data.append('name', name);
        data.append('surname', surname);
        data.append('email', email);
        data.append('mobile', mobile);
        data.append('isattending', isattending);
        $.ajax(
            {
                url: '/Guest/add',
                data: data,
                processData: false,
                contentType: false,
                type: "POST",
                success: function (result) {
                    if (result.success) {
                        $('#notifications').show();
                        $('#notifications').html('<div  class="alert alert-success" role="alert"> Guest added.</div>');
                        $('#partialform').hide('slow');

                    }
                    else {
                        var newBody = $("#partialform", result);
                        $("#partialform").replaceWith(newBody);

                    }
                },
                error: function (result) {
                    $('#notifications').html(' Looks like something went wrong! Please try again later.');
                }
            }
        );
    }
</script>