@{
    var name = Model.name + " " + Model.surname;
    var id = Model.id;
}

<!-- Button trigger modal -->



<div class="modal fade" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true" id="GuestDelete">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Are you sure you want to delete @name?</h4>
            </div>
            <div class="modal-footer">
                <form method="post" asp-controller="Guest" asp-action="delete" asp-route-id="@id">
                    <button type="submit" class="btn btn-default">Yes</button>
                </form>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">No</button>
            </div>
        </div>
    </div>
</div>