@model MyWedding.Models.Guest
@{
    Layout = "_Layout";
}

<style type="text/css">
    .container-fluid {
        padding: 12% 0;
    }

    .carousel-item img {
        width: 24%;
        display: inline-block;
    }

    .my-card {
        position: absolute;
        left: 40%;
        top: -20px;
        border-radius: 50%;
    }

    .customborder {
        border: solid;
        border-color: burlywood;
    }

    .parallax {
        /* The image used */
        background-image: url('/content/images/our_story_parallax.jpg');
        /* Set a specific height */
        height: 500px;
        width: 100%;
        /* Create the parallax scrolling effect */
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }

    .parallax2 {
        /* The image used */
        background-image: url('/content/images/IMG_6165.jpg');
        /* Set a specific height */
        height: 600px;
        width: 100%;
        /* Create the parallax scrolling effect */
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }

    .parallax3 {
        /* The image used */
        background-image: url('/content/images/weddings-parallax_1.jpg');
        /* Set a specific height */
        height: 600px;
        width: 100%;
        /* Create the parallax scrolling effect */
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }

    .ajax-loader {
        visibility: hidden;
    }

        .ajax-loader img {
            position: relative;
            top: 50%;
            left: 50%;
        }

</style>


<main id="main" role="main" style="font-family: Prata;">

    @if (ViewBag.language == "English")
    {
        <!-- HEADER 01 -->
        <section id="Englishhome">

            <div id="myCarousel" class="carousel slide carousel-fade" data-ride="carousel">
                <ol class="carousel-indicators">
                    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                    <li data-target="#myCarousel" data-slide-to="1" class=""></li>
                </ol>
                <div class="carousel-inner">

                    <div class="carousel-item active">

                        <img src="~/content/images/IMG_6305.jpg" style="width:100%" />
                        <div class="container">
                            <div class="carousel-caption">
                                <p><span style="color:white; font-size:36px; ">RSVP before the 13th of September</span></p>
                                <p><a class="btn btn-lg btn-light" href="#Englishrsvp" role="button">RSVP now</a></p>
                            </div>
                        </div>
                    </div>
                    <div class="carousel-item">

                        <img src="~/content/images/IMG_6404.jpg" style="width:100%" />
                        <div class="container">
                            <div class="carousel-caption">
                                <ul id="example">
                                    <li><span id="days"></span><p class="days_text">Days</p></li>

                                    <li class="seperator">:</li>

                                    <li><span id="hours"></span><p class="hours_text">Hours</p></li>

                                    <li class="seperator">:</li>

                                    <li><span id="minutes"></span><p class="minutes_text">Minutes</p></li>

                                    <li class="seperator">:</li>

                                    <li><span id="seconds"></span><p class="seconds_text">Seconds</p></li>

                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <a class="carousel-control-prev" href="#myCarousel" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next" href="#myCarousel" role="button" data-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>

            </div>

        </section>
        <br />
        <br />
        <!-- WEDDING 01 -->
        <section id="Englishwedding">
            <div class="container">
                <div class="row">

                    <div class="col-md-12 text-center wow bounceInLeft" style="background-color:bisque">
                        <br />
                        <h1>
                            Ceremony
                        </h1>
                        <br />
                        <h4>
                            Rosemary hill
                        </h4>
                        <p>
                            Date: 13 October 2019
                        </p>

                        <p>
                            Time: 10am
                        </p>


                    </div>

                    <br />
                    <br />
                    <div class="col-md-12 text-center mt-3" data-sr-id="4" style="" ; visibility: visible;>
                        <H3>
                            Directions
                        </H3>
                        <br />
                        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d5080.332915705885!2d28.431018307736807!3d-25.79242569250322!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xf74ab5bb8eaed44!2sRosemary+Hill!5e0!3m2!1sen!2sza!4v1556132463713!5m2!1sen!2sza" width="100%" frameborder="0" style="border:0" allowfullscreen></iframe>
                    </div>
                </div>
            </div>
        </section>
        <br />
        <div class="parallax"></div>
        <!-- ACCOMM 01 -->
        <br />
        <br />
        <section id="Englishaccomm" class="accomm-01">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 text-center" data-sr-id="6" style="" ; visibility: visible;>

                        <h3>
                            Accommodation
                        </h3>

                        <h5>
                            Available accommodation close to Rosemary Hill
                        </h5>

                    </div>
                    <div class="col-sm-4 text-right mt-5 wow fadeInLeft" style="background-color:bisque">
                        <h5>
                            Tree Tops
                        </h5>
                        <p class="accomm-left">
                            Reservations
                        </p>
                        <p class="accomm-left">
                            083 268 5519
                        </p>
                        <p class="accomm-left">
                            <a href="mailto:tdmccusker@gmail.com">tdmccusker@gmail.com</a>
                        </p>
                        <p class="accomm-left">
                            <a href="http://www.treetopsaccomodation.co.za/" target="_blank">500m from Rosemary Hill</a>

                        </p>

                        <div class="clearfix">
                        </div>
                    </div>
                    <div class="col-sm-4 text-center mt-5 wow fadeInDown" style="background-color:bisque">
                        <h5>
                            Rosemary Hill
                        </h5>
                        <p class="accomm-right">
                            Reservations
                        </p>
                        <p class="accomm-right">
                            012 802 0052 / 083 235 6857
                        </p>
                        <p class="accomm-right">
                            <a href="mailto:info@rosemaryhill.co.za"> info@rosemaryhill.co.za</a>
                        </p>
                        <p class="accomm-right">
                            <a href="http://www.rosemaryhill.co.za/" target="_blank">At venue</a>

                        </p>

                        <div class="clearfix">
                        </div>
                    </div>
                    <div class="col-sm-4 text-left mt-5 wow fadeInRight" style="background-color:bisque">
                        <h5>
                            Silver Fig
                        </h5>
                        <p class="accomm-right">
                            Reservations
                        </p>
                        <p class="accomm-right">
                            012 802 4017 / 082 300 8877
                        </p>
                        <p class="accomm-right">
                            <a href="mailto:info@silverfig@mweb.co.za"> silverfig@mweb.co.za</a>
                        </p>
                        <p class="accomm-right">
                            <a href="https://silverfigguesthouse.co.za/" target="_blank">800m from Rosemary Hill</a>

                        </p>

                        <div class="clearfix">
                        </div>
                    </div>

                </div>
            </div>

        </section>

        <br />
        <br />
        <!-- REGISTRY 01 -->
        <section id="Englishregistry">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 text-center" data-sr-id="8" style="" ; visibility: visible;>

                        <h3>
                            Gift Registry
                        </h3>

                        <p class="accomm-center">
                            <a href="https://www.yuppiechef.com/registry.htm?action=view&orderid=3761673" target="_blank" class="btn btn-outline-primary">
                                View Online
                                <i class="ion-ios-arrow-right"></i>
                            </a>
                        </p>

                    </div>


                </div>
            </div>
        </section>
        <br />
        <figure>
            <div class="parallax2" style="width:100%"></div>
            <figcaption>Photo by <a href="https://www.travellingafrikaner.com/" target="_blank">The Traveling Afrikaner</a>  </figcaption>
        </figure>

        <!-- Info 01 -->
        <section id="EnglishinfoSection">
            <div class="row container-fluid">
                <div class="col-md-4">
                    <div class="card customborder mx-sm-1 p-3">
                        <div class="card customborder shadow p-3 my-card"><span class="fa fa-cash-register" aria-hidden="true"></span></div>
                        <br />
                        <div class="text-black-50 text-center mt-3"><h2>Bar</h2></div>
                        <div class="text-black-50 text-center mt-2"><h4>With Card Facilities Available</h4></div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card customborder mx-sm-1 p-3">
                        <div class="card customborder shadow p-3 my-card"><span class="fa fa-mail-bulk" aria-hidden="true"></span></div>
                        <br />
                        <div class="text-black-50 text-center mt-3"><h2>By</h2></div>
                        <div class="text-black-50 text-center mt-2"><h4>Invitation Only</h4></div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card customborder mx-sm-1 p-3">
                        <div class="card customborder shadow  p-3 my-card"><span class="fa fa-child" aria-hidden="true"></span></div>
                        <br />
                        <div class="text-black-50 text-center mt-3"><h2>Regret</h2></div>
                        <div class="text-black-50 text-center mt-2"><h4>No Children Under 12</h4></div>
                    </div>
                </div>
            </div>
        </section>


        <div class="parallax3" style="width:100%"></div>
        <br />
        <!-- RSVP 01 -->
        <section id="Englishrsvp">
            <div class="container">
                <div class="row justify-content-center">

                    <div class="col-md-12 text-center">

                        <div class="row mb-4">
                        </div>
                        <div id="accomm-form-scroll"></div>

                        <h3>
                            Online RSVP
                        </h3>
                        <p>Fill in your details below</p>
                        <div class="rsvpHeightScroll"></div>
                    </div>

                    <br />
                    <div class="col-sm-10 text-center wow flipInX" style="background-color:bisque" id="ENGRSVPpanel">
                        <form id="ENGRSVPform" data-ajax="true" data-ajax-method="post" data-ajax-update="#ENGRSVPform" data-ajax-mode="replace">

                            <div class="form-row">
                                <div class="form-group col-md-6">
                                    <label asp-for="Name" class="control-label">Name<span style="color:red;">*</span></label>
                                    <input asp-for="Name" id="ENGRSVPname" class="form-control" placeholder="Enter your name (Required)" />
                                    <span asp-validation-for="Name" class="text-danger"></span>
                                </div>

                                <div class="form-group col-md-6">
                                    <label asp-for="Surname" class="control-label">Surname<span style="color:red;">*</span></label>
                                    <input asp-for="Surname" id="ENGRSVPsurname" class="form-control" placeholder="Enter your surname (Required)" />
                                    <span asp-validation-for="Surname" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="form-group col-md-6">
                                    <label asp-for="Email" class="control-label">Email<span style="color:red;">*</span></label>
                                    <input asp-for="Email" id="ENGRSVPemail" class="form-control" placeholder="Enter your email address (Required)" />
                                    <span asp-validation-for="Email" class="text-danger"></span>
                                </div>
                                <div class="form-group col-md-6">
                                    <label asp-for="mobile" class="control-label">Cellphone</label>
                                    <input asp-for="mobile" id="ENGRSVPmobile" class="form-control" placeholder="Enter your cellphone number (Optional)" />
                                    <span asp-validation-for="mobile" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="form-group">
                                <label asp-for="Message" class="control-label">Message</label>
                                <textarea asp-for="Message" id="ENGRSVPmessage" class="form-control" placeholder="Enter your message (Optional)" rows="3"></textarea>
                                <span asp-validation-for="Message" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <div class="form-group">
                                    <div>
                                        <label asp-for="IsAttending" class="control-label">Are you attending the wedding?</label>
                                        <div class="checkbox">
                                            <input id="ENGRSVPisattending" type="checkbox" checked data-toggle="toggle" data-on="Yes" data-off="No" data-offstyle="warning">
                                            <script>
                                                $(function () {
                                                    $('#ENGRSVPisattending').bootstrapToggle();
                                                })
                                            </script>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <div>
                                            <input type="button" onclick="RSVP('ENG')" class="btn btn-light btn-block" value="RSVP" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div id="ENGRSVPnotifications"></div>
            <div class="ajax-loader" id="ENGajax-loader">
                <img src="~/content/Loader/ajax-loader.gif" class="img-responsive" />
            </div>

        </section>
        <br />
        <br />
        <!-- RSVPs -->
        <section id="EnglishRSVPpersonal">
            <div class="container">
                <div class="row wow fadeInUp">
                    <div class="col-md-12 text-center rsvpHeightScroll ">

                        <h3>
                            Feel free to contact us
                        </h3>

                    </div>

                    <div class="col-sm-12 text-center mt-3">
                        <h5 class="mb-4">
                            Ivan
                        </h5>
                        <p class="accomm-center">
                            RSVP by Tuesday, 13 September 2019
                        </p>
                        <p class="accomm-center">
                            084 688 9966
                        </p>
                        <p class="accomm-center">
                            <a href="mailto:dewit.ivan777@gmail.com">dewit.ivan777@gmail.com</a>
                        </p>


                    </div>

                </div>
            </div>
        </section>
    }
    else
    {
        <!-- HEADER 01 -->
        <section id="Afrikaanshome">

            <div id="myCarousel" class="carousel slide carousel-fade" data-ride="carousel">
                <ol class="carousel-indicators">
                    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                    <li data-target="#myCarousel" data-slide-to="1" class=""></li>
                </ol>
                <div class="carousel-inner">

                    <div class="carousel-item active">

                        <img src="~/content/images/IMG_6305.jpg" style="width:100%" />
                        <div class="container">
                            <div class="carousel-caption">
                                <p><span style="color:white; font-size:36px; ">RSVP voor die 13de September</span></p>
                                <p><a class="btn btn-lg btn-light" href="#Afrikaansrsvp" role="button">RSVP nou</a></p>
                            </div>
                        </div>
                    </div>
                    <div class="carousel-item">

                        <img src="~/content/images/IMG_6404.jpg" style="width:100%" />
                        <div class="container">
                            <div class="carousel-caption">
                                <ul id="example">
                                    <li><span id="days"></span><p class="days_text">Dae</p></li>

                                    <li class="seperator">:</li>

                                    <li><span id="hours"></span><p class="hours_text">Ure</p></li>

                                    <li class="seperator">:</li>

                                    <li><span id="minutes"></span><p class="minutes_text">Minute</p></li>

                                    <li class="seperator">:</li>

                                    <li><span id="seconds"></span><p class="seconds_text">Sekondes</p></li>

                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <a class="carousel-control-prev" href="#myCarousel" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="sr-only">Vorige</span>
                </a>
                <a class="carousel-control-next" href="#myCarousel" role="button" data-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="sr-only">Volgende</span>
                </a>

            </div>

        </section>

        <br />
        <br />
        <!-- WEDDING 01 -->
        <section id="Afrikaanswedding">
            <div class="container">
                <div class="row">

                    <div class="col-md-12 text-center wow bounceInLeft" style="background-color:bisque">
                        <br />
                        <h1>
                            Seremonie
                        </h1>
                        <br />
                        <h4>
                            Rosemary Hill
                        </h4>
                        <p>
                            Datum: 13 October 2019
                        </p>
                        <p>
                            Tyd: 10am
                        </p>





                    </div>


                    <div class="col-md-12 text-center mt-3" data-sr-id="4" style="" ; visibility: visible;>
                        <br />
                        <br />
                        <H3>
                            Aanwysings
                        </H3>
                        <br />
                        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d5080.332915705885!2d28.431018307736807!3d-25.79242569250322!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xf74ab5bb8eaed44!2sRosemary+Hill!5e0!3m2!1sen!2sza!4v1556132463713!5m2!1sen!2sza" width="100%" frameborder="0" style="border:0" allowfullscreen></iframe>
                    </div>
                </div>
            </div>
        </section>

        <br />
        <div class="parallax"></div>
        <br />
        <br />
        <!-- ACCOMM 01 -->
        <section id="Afrikaansaccomm" class="accomm-01">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 text-center" data-sr-id="6" style="" ; visibility: visible;>

                        <h3>
                            Akkommodasie
                        </h3>

                        <h5>
                            Beskikbare akkommodasie naby aan Rosemary Hill
                        </h5>

                    </div>
                    <div class="col-sm-4 text-right mt-5 wow fadeInLeft" style="background-color:bisque">
                        <h5>
                            Tree Tops
                        </h5>
                        <p class="accomm-left">
                            Besprekings
                        </p>
                        <p class="accomm-left">
                            083 268 5519
                        </p>
                        <p class="accomm-left">
                            <a href="mailto:tdmccusker@gmail.com">tdmccusker@gmail.com</a>
                        </p>
                        <p class="accomm-left">
                            <a href="http://www.treetopsaccomodation.co.za/" target="_blank">500m van Rosemary Hill</a>

                        </p>

                        <div class="clearfix">
                        </div>
                    </div>
                    <div class="col-sm-4 text-center mt-5 wow fadeInDown" style="background-color:bisque">
                        <h5>
                            Rosemary Hill
                        </h5>
                        <p class="accomm-right">
                            Besprekings
                        </p>
                        <p class="accomm-right">
                            012 802 0052 / 083 235 6857
                        </p>
                        <p class="accomm-right">
                            <a href="mailto:info@rosemaryhill.co.za"> info@rosemaryhill.co.za</a>
                        </p>
                        <p class="accomm-right">
                            <a href="http://www.rosemaryhill.co.za/" target="_blank">By lokaal</a>

                        </p>

                        <div class="clearfix">
                        </div>
                    </div>
                    <div class="col-sm-4 text-left mt-5 wow fadeInRight" style="background-color:bisque">
                        <h5>
                            Silver Fig
                        </h5>
                        <p class="accomm-right">
                            Besprekings
                        </p>
                        <p class="accomm-right">
                            012 802 4017 / 082 300 8877
                        </p>
                        <p class="accomm-right">
                            <a href="mailto:info@silverfig@mweb.co.za"> silverfig@mweb.co.za</a>
                        </p>
                        <p class="accomm-right">
                            <a href="https://silverfigguesthouse.co.za/" target="_blank">800m van Rosemary Hill</a>

                        </p>

                        <div class="clearfix">
                        </div>
                    </div>

                </div>
            </div>
        </section>

        <br />
        <br />
        <!-- REGISTRY 01 -->
        <section id="Afrikaansregistry">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 text-center" data-sr-id="8" style="" ; visibility: visible;>

                        <h3>
                            Geskenkregister
                        </h3>


                        <p class="accomm-center">
                            <a href="https://www.yuppiechef.com/registry.htm?action=view&orderid=3761673" target="_blank" class="btn btn-outline-primary">
                                Sien Aanlyn
                                <i class="ion-ios-arrow-right"></i>
                            </a>
                        </p>

                    </div>


                </div>
            </div>
            <br />
        </section>
        <figure>
          <div class="parallax2"></div>
            <figcaption>Foto deur <a href="https://www.travellingafrikaner.com/" target="_blank">The Traveling Afrikaner</a>  </figcaption>
        </figure>

        <!-- Info 01 -->
        <section id="infoSection">
            <div class="row container-fluid">
                <div class="col-md-4">
                    <div class="card customborder mx-sm-1 p-3">
                        <div class="card customborder shadow p-3 my-card"><span class="fa fa-cash-register" aria-hidden="true"></span></div>
                        <br />
                        <div class="text-black-50 text-center mt-3"><h2>Kroeg</h2></div>
                        <div class="text-black-50 text-center mt-2"><h4>Met Kaartfasilitieite Beskikbaar</h4></div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card customborder mx-sm-1 p-3">

                        <div class="card customborder shadow p-3 my-card"><span class="fa fa-mail-bulk" aria-hidden="true"></span></div>
                        <br />
                        <div class="text-black-50 text-center mt-3"><h2>Slegs</h2></div>
                        <div class="text-black-50 text-center mt-2"><h4>Per Uitnodiging</h4></div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card customborder mx-sm-1 p-3">
                        <div class="card customborder shadow  p-3 my-card"><span class="fa fa-child" aria-hidden="true"></span></div>
                        <br />
                        <div class="text-black-50 text-center mt-3"><h2>Ongelukking</h2></div>
                        <div class="text-black-50 text-center mt-2"><h4>Geen Kinders Onder 12 Nie</h4></div>
                    </div>
                </div>
            </div>
        </section>

        <div class="parallax3"></div>
        <br />
        <!-- RSVP 01 -->
        <section id="Afrikaansrsvp">
            <div class="container">
                <div class="row justify-content-center">

                    <div class="col-md-12 text-center">

                        <div id="accomm-form-scroll"></div>

                        <h3>
                            AANLYN RSVP
                        </h3>
                        <p>Vul jou besonderhede hieronder in</p>

                        <div class="rsvpHeightScroll"></div>
                    </div>


                    <div class="col-sm-10 text-center wow flipInX" style="background-color:bisque" id="AFRRSVPpanel">
                        <form id="AFRRSVPform" data-ajax="true" data-ajax-method="post" data-ajax-update="#AFRRSVPform" data-ajax-mode="replace">

                            <div class="form-row">
                                <div class="form-group col-md-6">
                                    <label asp-for="Name" class="control-label">Naam<span style="color:red;">*</span></label>
                                    <input asp-for="Name" id="AFRRSVPname" class="form-control" placeholder="Voltooi jou naam (Verpligtend)" />
                                    <span asp-validation-for="Name" class="text-danger"></span>
                                </div>

                                <div class="form-group col-md-6">
                                    <label asp-for="Surname" class="control-label">Van<span style="color:red;">*</span></label>
                                    <input asp-for="Surname" id="AFRRSVPsurname" class="form-control" placeholder="Voltooi jou van (Verpligtend)" />
                                    <span asp-validation-for="Surname" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="form-group col-md-6">
                                    <label asp-for="Email" class="control-label">E-pos<span style="color:red;">*</span></label>
                                    <input asp-for="Email" id="AFRRSVPemail" class="form-control" placeholder="Voltooi jou e-pos address (Verpligtend)" />
                                    <span asp-validation-for="Email" class="text-danger"></span>
                                </div>
                                <div class="form-group col-md-6">
                                    <label asp-for="mobile" class="control-label">Selfoon</label>
                                    <input asp-for="mobile" id="AFRRSVPmobile" class="form-control" placeholder="Voltooi jou selfoonnommer (Opsioneel)" />
                                    <span asp-validation-for="mobile" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="form-group">
                                <label asp-for="Message" class="control-label">Boodskap</label>
                                <textarea asp-for="Message" id="AFRRSVPmessage" class="form-control" placeholder="Voltooi boodskap (Opsioneel)" rows="3"></textarea>
                                <span asp-validation-for="Message" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <div>
                                    <label asp-for="IsAttending" class="control-label">Woon jy die troue by?</label>
                                    <div class="checkbox">

                                        <input id="AFRRSVPisattending" type="checkbox" checked data-toggle="toggle" data-on="Ja" data-off="Nee" data-offstyle="warning">

                                        <script>
                                            $(function () {
                                                $('#AFRRSVPisattending').bootstrapToggle({

                                                });

                                            })

                                        </script>

                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <div>
                                            <input type="button" onclick="RSVP('AFR')" class="btn btn-light btn-block" value="RSVP" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>


                    </div>

                </div>
            </div>
            <div id="AFRRSVPnotifications" class="alert"></div>
            <div class="ajax-loader" id="AFRajax-loader">
                <img src="~/content/Loader/ajax-loader.gif" class="img-responsive" />
            </div>

        </section>

        <br />
        <br />
        <!-- RSVPs -->
        <section id="AfrikaansRSVPpersonal">
            <div class="container">
                <div class="row wow fadeInUp">
                    <div class="col-md-12 text-center rsvpHeightScroll ">

                        <h3>
                            Kontak ons gerus
                        </h3>

                    </div>

                    <div class="col-sm-12 text-center mt-3">
                        <h5 class="mb-4">
                            Ivan
                        </h5>
                        <p class="accomm-center">
                            RSVP teen Dinsdag, 13 September 2019
                        </p>
                        <p class="accomm-center">
                            084 688 9966
                        </p>
                        <p class="accomm-center">
                            <a href="mailto:dewit.ivan777@gmail.com">dewit.ivan777@gmail.com</a>
                        </p>


                    </div>

                </div>
            </div>
        </section>
    }

</main>


<script>
    // Set the date we're counting down to
    var countDownDate = new Date("Oct 13, 2019 10:00:00").getTime();
    // Update the count down every 1 second
    var x = setInterval(function () {
        // Get todays date and time
        var now = new Date().getTime();
        // Find the distance between now and the count down date
        var distance = countDownDate - now;
        // Time calculations for days, hours, minutes and seconds
        var days = Math.floor(distance / (1000 * 60 * 60 * 24));
        var hours = Math.floor((distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
        var minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
        var seconds = Math.floor((distance % (1000 * 60)) / 1000);
        // Display the result in the element with id="demo"
        document.getElementById("days").innerHTML = days;
        document.getElementById("hours").innerHTML = hours;
        document.getElementById("minutes").innerHTML = minutes;
        document.getElementById("seconds").innerHTML = seconds;
        // If the count down is finished, write some text
        if (distance < 0) {
            clearInterval(x);
            document.getElementById("demo").innerHTML = "DDAY!";
        }
    }, 1000);

    function RSVP(Lang) {
        var name = document.getElementById(Lang + 'RSVPname').value;
        var surname = document.getElementById(Lang + 'RSVPsurname').value;
        var email = document.getElementById(Lang + 'RSVPemail').value;
        var mobile = document.getElementById(Lang + 'RSVPmobile').value;
        var isattending = document.getElementById(Lang + 'RSVPisattending').checked;

        var data = new FormData();
        data.append('name', name);
        data.append('surname', surname);
        data.append('email', email);
        data.append('mobile', mobile);
        data.append('isattending', isattending);
        var lang = Lang;
        if (Lang == 'ENG')
            lang = 'English';
        else
            lang = 'Afrikaans';
        $.ajax(
            {
                url: 'Home/RSVP/' + lang,
                data: data,
                processData: false,
                contentType: false,
                type: "POST",
                beforeSend: function () {
                    $('#'+ Lang +'ajax-loader').css("visibility", "visible");
                },
                success: function (result) {
                    console.log(result);
                    if (result.success) {
                        document.getElementById(Lang + 'RSVPform').reset();
                        $('#' + Lang + 'RSVPnotifications').show();
                        if (Lang == 'ENG')
                            $('#' + Lang + 'RSVPnotifications').html('<div  class="alert alert-success" role="alert"> RSVP successful.</div>');
                        else
                            $('#' + Lang + 'RSVPnotifications').html('<div  class="alert alert-success" role="alert"> RSVP suksesvol.</div>');
                        setTimeout(function () {
                            $('#' + Lang + 'RSVPnotifications').fadeOut();
                        }, 5000);
                    }
                    else {
                        var newBody = $('#' + Lang + 'RSVPform', result);;
                        $('#' + Lang + 'RSVPform').replaceWith(newBody);
                    }
                },
                error: function (result) {
                    $('#' + Lang + 'RSVPnotifications').html(' Looks like something went wrong! Please try again later.');

                },
                complete: function () {
                    $('#' + Lang + 'ajax-loader').css("visibility", "hidden");
                }
            }
        );
    }


</script>



